main {
  overflow-x: hidden;
}

li#menu{
  font-size: 1.2rem;
}

li#menu:hover{
  background-color: white;
  font-weight: bolder;
}

li#submenu:hover{
  background-color: whitesmoke;
}

ul#submenu{
  margin-left: 30px;
}

.icone-menu{
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}

.icone-angle{
  margin-left: 20px;
  font-size: 1.4rem;
}

.card-img-top{
  width: 30px;
}

.flex-column, element.style {
  min-height: 100% !important;
}

.nav-link {
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  .card-img-top {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.75));
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }
  h3 {
    margin: 0 !important;
  }
}

input#search{
  width: 600px;
}

.space-card {
  margin: 0 auto;
}

.divButtons{
  div{
    background-color: #0d6efd ;

  }

  .buttons{
     margin-right: 40px;
  }
}


