app-login{
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  .left-column {
    flex-basis: 70%;
    background-image: url('../../assets/imagens/carnaval.jpg');
    background-size: cover;
    background-position: center;
  }

  .right-column {
    padding: 2em;
    flex-basis: 30%;
    h2 {
      text-align: center;
    }
  }
}
