<div class="container">
  <div class="left-column"></div>
  <div class="right-column">
    <div class="form">
      <h5 class="card-title">We Are Carnival</h5>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            formControlName="senha"
          />
        </div>
        <div class="buttonEnter">
          <button
            type="button"
            class="btn btn-primary btn-lg btn-block"
            (click)="login()"
          >
            Login
          </button>
        </div>
        <div class="textButton">
          <p><a>Esqueceu sua senha ?</a></p>
        </div>
        <div class="textButton">
          <p><a routerLink="/cadastrousuario">Cadastre-se</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
