.card{
  margin-top: 20px;
  margin-right: 10px;
}

.button{
  margin-left: 10px;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
}

.input-container {
  margin-left: 10px;
}

div#spinner{
  margin-left: 50%;
  margin-right: 50%;
}

.msg-obrigatorio{
  color: red;
  font-size: 0.8rem;
}
.msg-erro-cep{
  color: red;
  font-size: 0.8rem;
  margin-top: -15px;

}

.msg-sucess-cep{
  color: green;
  font-size: 0.8rem;
  margin-top: -15px;
}

.msg{
  font-size: 0.8rem;
  color: gray;
  bottom: 0;
}




