.card{
  margin-top: 20px;
  margin-right: 10px;
}

.button{
  margin-left: 10px;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
}

.input-container {
  margin-left: 10px;
}
.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}


