.card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

.card {
  flex: 0 0 calc(30% - 10px);
  margin-right: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Define a sombra do cartão */
  background: linear-gradient(to bottom right, #008AFF, #2EB0A8);


}
.card-title{
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

.card-text{
  font-size: 3rem !important;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}
