.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 calc(22% - 10px);
  margin-right: 20px;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Define a sombra do cartão */
  cursor: pointer;
  // height: 200px;
  width: 200px;
  img{
    height: 200px;
  }
}

.heigh-card {
  height: 100px;
}
